<h1>SAML2 Identity Provider</h1>

{% if not last_stop %}
<p>Data from form bellow will be exchanged with SP</p>

<form action={{ sp_url }} method="post">
    {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" required>
    <input type="submit" value="OK">
</form>

<div>
    <h2>Known service providers</h2>
    {% for sp_id in known_sp_ids %}
        <p>{{ sp_id }}</p>
    {% endfor %}
</div>
{% else %}
{# this is what we display at the last step during IdP-SP transaction #}
<p>Service Provider response</p>
<div>
{% for k, v in sp_response.items %}
    <p><strong>{{ k }}</strong>: {{ v }}</p>
{% endfor %}
</div>
{% endif %}
